/* @import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  text-align: center;
  font-family: "Mukta", sans-serif;
  width:100%;
  background-color: #e7f5f4;
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer";
}
nav {
  grid-area: nav;
  position: fixed;
  height: 0;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}
nav * {
  transform: scale(1.2);
  color: #fff;
  margin: 1em 0;
}
nav > .closebtn {
  transform: scale(3);
  color: #fff;
}
nav > ol > li > a {
  transform: scale(2);
  color: #fff;
}
main {
  grid-area: main;
  width: 100%;
}
footer {
  grid-area: footer;
  background-color: #0f1c1f;
  color: #e4f4f3;
  height: 15vh;
  display: flex;
  align-items: center;
  width: 100%;
}
footer > * {
  margin: 1em 1em;
  text-decoration: none;
  color: #e4f4f3;
}
footer span {
  color: #e4f4f3;
}
footer i {
  transform: scale(1.5);
}
.fa-facebook-square {
  color: #4267B2;
}
.fa-instagram {
  color: #E1306C;
}
.fa-twitter-square {
  color: #1DA1F2;
}
.menu-btn {
  grid-area: header;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #a1dbf1;
  display: flex;
  justify-content: flex-start;
}
.menu-btn > img {
  width: 5%;
  height: 5%;
  margin: 1em;
}
.top-btn {
  height: 3em;
  width: 3em;
  border-radius: 1.5em;
  z-index: 20;
  position: fixed;
  top: 90vh;
  left: 85vw;
  background-color: #000;
  color: #e4f4f3;
  font-weight: 600;
  cursor: pointer;
}
.top-btn:hover {
  background-color: rgba(0, 0, 0, 0.658);
}
nav a {
  text-decoration: none;
  padding: 0 0.5em;
  color: #000;
}
nav a:hover {
  color: rgb(255, 130, 0);

  border-left: solid 5px #71d5e4;
  text-shadow: #000;
}
nav > .closebtn {
  display: initial;
}
main {
  display: flex;
  flex-direction: column;
}
section {
  margin: 1em 0.5em;
}
ol,
ul {
  list-style: none;
}
main .main-section {
  margin: 2em 1.5em;
  border: solid 1px #a1dbf1;
  border-radius: 0.5em;
  padding: 1em;
} */

@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600&display=swap");
.menu-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/* .menu-btn > p {
  text-align: center;
  width: 92vw;
  font-weight: 600;
  font-size: 2em;
  margin-left: -1em;
} */
img {
  display: inline-block;
  width: 8vw;
  height: 8vw;
  margin: 0.5em 0.5em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  display: grid;
  width:100%;
  grid-template-areas: "header" "nav" "main" "footer";
  font-family: "Mukta", sans-serif;
  text-align: center;
}
.menu-btn {
  width: 100%;
  background-color: aquamarine;
  grid-area: header;
  position: sticky;
  top: 0;
  left: 0;
}
main {
  width: 100vw;
  grid-area: main;
}
footer {
  width: 100%;
  background-color: #0f1c1f;
  grid-area: footer;
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > * {
  margin: 1em;
}
footer i {
  transform: scale(2);
  margin: 1em;
  user-select: none;
}
footer a, span {
  text-decoration: none;
  color: #e4f4f3;
  user-select: none;
}
.fa-facebook-square {
  color: #4267B2;
}
.fa-instagram {
  color: #E1306C;
}
.fa-twitter-square {
  color: #1DA1F2;
}
nav {
  grid-area: nav;
  position: fixed;
  height: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav > * {
  margin: 1em;
  transform: scale(1.5);
}
nav .closebtn {
  transform: scale(3);
  margin-bottom: 2em;
}
nav ol {
  margin-top: 2em;
}
nav ol li {
  margin: 1em 1em;
}
nav ol li a {
  padding: 0;
}
nav a {
  text-decoration: none;
  padding: 0 0.5em;
  color: #fff;
}
h1 {
  color: #fff;
  margin-top: -2em;
}
.top-btn {
  position: fixed;
  top: 85vh;
  left: 85vw;
  background-color: black;
  color: #fff;
  height: 3em;
  width: 3em;
  border-radius: 2em;
}
section {
  margin: 2em 1.5em;
  border: solid 1px #a1dbf1;
  border-radius: 0.5em;
}
.main-section > * {
  margin: 1em 1em;
}
main .main-section:hover,
main .main-section:focus {
  box-shadow: 0.5em 0.5em 1em 1em #00b6bc18;
  transform: scale(1.01);
  transition-duration: 0.3s;
  border-color: orange;
}
ol,
ul {
  list-style: none;
}
h2 {
  color: #02888d;
}